{{set . "btc1GdtwcTZzJuBsGuc3zDupUhBBbJycFQwWR" "0.000"}}
{{set . "btc1JhrhwLHRm3zFBA1hAEp6vFGhb5971V6ZQ" "0.000"}}
{{set . "btc17rYWUW22vmpGCaL4Vij6ThFrYiQJJLhuF" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7596/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1010.png">
				<br> <b>乌拉圭</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>
					<span class="badge">0:00</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7586/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1011.png">
				<br> <b>哥斯达黎</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1GdtwcTZzJuBsGuc3zDupUhBBbJycFQwWR">
				<img src="http://1.su.bdimg.com/worldcup/2010.png">胜 {{.btc1GdtwcTZzJuBsGuc3zDupUhBBbJycFQwWR}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1JhrhwLHRm3zFBA1hAEp6vFGhb5971V6ZQ">平 {{.btc1JhrhwLHRm3zFBA1hAEp6vFGhb5971V6ZQ}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/17rYWUW22vmpGCaL4Vij6ThFrYiQJJLhuF">
				<img src="http://2.su.bdimg.com/worldcup/2011.png">胜 {{.btc17rYWUW22vmpGCaL4Vij6ThFrYiQJJLhuF}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1GdtwcTZzJuBsGuc3zDupUhBBbJycFQwWR" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2010.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1GdtwcTZzJuBsGuc3zDupUhBBbJycFQwWR.png" width="64"></a>
		</td>
		<td>
			<a data-content="1JhrhwLHRm3zFBA1hAEp6vFGhb5971V6ZQ" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1JhrhwLHRm3zFBA1hAEp6vFGhb5971V6ZQ.png" width="64"></a>
		</td>
		<td>
			<a data-content="17rYWUW22vmpGCaL4Vij6ThFrYiQJJLhuF" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2011.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/17rYWUW22vmpGCaL4Vij6ThFrYiQJJLhuF.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 3:00</td>
	</tr>
</table>