{{set . "btc1LVNGVmn1vsASZcRFEyT33ue1gxvEakNhj" "0.000"}}
{{set . "btc1HTZNkFiMCyXASfBagRE7JyaPKtJ82JfA7" "0.000"}}
{{set . "btc12Y7bLCY3sH8KQvMTNoC75H64id5tTNAGF" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7665/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1014.png">
				<br> <b>科特迪瓦</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>
					<span class="badge">0:00</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7613/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1015.png">
				<br> <b>日本</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1LVNGVmn1vsASZcRFEyT33ue1gxvEakNhj">
				<img src="http://1.su.bdimg.com/worldcup/2014.png">胜 {{.btc1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1HTZNkFiMCyXASfBagRE7JyaPKtJ82JfA7">平 {{.btc1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/12Y7bLCY3sH8KQvMTNoC75H64id5tTNAGF">
				<img src="http://2.su.bdimg.com/worldcup/2015.png">胜 {{.btc1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1LVNGVmn1vsASZcRFEyT33ue1gxvEakNhj" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2014.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1LVNGVmn1vsASZcRFEyT33ue1gxvEakNhj.png" width="64"></a>
		</td>
		<td>
			<a data-content="1HTZNkFiMCyXASfBagRE7JyaPKtJ82JfA7" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1HTZNkFiMCyXASfBagRE7JyaPKtJ82JfA7.png" width="64"></a>
		</td>
		<td>
			<a data-content="12Y7bLCY3sH8KQvMTNoC75H64id5tTNAGF" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2015.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/12Y7bLCY3sH8KQvMTNoC75H64id5tTNAGF.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 9:00</td>
	</tr>
</table>