{{set . "btc1AXif9soHHGzfqvfAZBuHry3UVzrkZDdbL" "0.000"}}
{{set . "btc14US9NBM7Km2J7Yk6v2cYiQsNvwYzXGGgz" "0.000"}}
{{set . "btc13tEHizGkf3DwgsXiAHMeka5f3STDikbpt" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7625/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1012.png">
				<br> <b>英格兰</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>
					<span class="badge">0:00</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7631/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1013.png">
				<br> <b>意大利</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1AXif9soHHGzfqvfAZBuHry3UVzrkZDdbL">
				<img src="http://1.su.bdimg.com/worldcup/2012.png">胜 {{.btc1AXif9soHHGzfqvfAZBuHry3UVzrkZDdbL}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/14US9NBM7Km2J7Yk6v2cYiQsNvwYzXGGgz">平 {{.btc14US9NBM7Km2J7Yk6v2cYiQsNvwYzXGGgz}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/13tEHizGkf3DwgsXiAHMeka5f3STDikbpt">
				<img src="http://2.su.bdimg.com/worldcup/2013.png">胜 {{.btc13tEHizGkf3DwgsXiAHMeka5f3STDikbpt}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1AXif9soHHGzfqvfAZBuHry3UVzrkZDdbL" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2012.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1AXif9soHHGzfqvfAZBuHry3UVzrkZDdbL.png" width="64"></a>
		</td>
		<td>
			<a data-content="14US9NBM7Km2J7Yk6v2cYiQsNvwYzXGGgz" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/14US9NBM7Km2J7Yk6v2cYiQsNvwYzXGGgz.png" width="64"></a>
		</td>
		<td>
			<a data-content="13tEHizGkf3DwgsXiAHMeka5f3STDikbpt" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2013.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/13tEHizGkf3DwgsXiAHMeka5f3STDikbpt.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 6:00</td>
	</tr>
</table>