{{set . "btc12kArNmKG3BozHk3d8hbaiThmsgU7qn2rB" "0.000"}}
{{set . "btc16q3jpwpPJHehG48YTp3tB6s7bQ1gqd2zd" "0.000"}}
{{set . "btc1E1Xa9FyQRFUAgL1vYcfHukByMc2jY6dwD" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7592/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1008.png">
				<br> <b>哥伦比亚</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>
					<span class="badge">3:00</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7649/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1009.png">
				<br> <b>希腊</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/12kArNmKG3BozHk3d8hbaiThmsgU7qn2rB">
				<img src="http://1.su.bdimg.com/worldcup/2008.png">胜{{.btc12kArNmKG3BozHk3d8hbaiThmsgU7qn2rB}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/16q3jpwpPJHehG48YTp3tB6s7bQ1gqd2zd">平 {{.btc16q3jpwpPJHehG48YTp3tB6s7bQ1gqd2zd}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1E1Xa9FyQRFUAgL1vYcfHukByMc2jY6dwD">
				<img src="http://2.su.bdimg.com/worldcup/2009.png">胜 {{.btc1E1Xa9FyQRFUAgL1vYcfHukByMc2jY6dwD}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="12kArNmKG3BozHk3d8hbaiThmsgU7qn2rB" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2008.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/12kArNmKG3BozHk3d8hbaiThmsgU7qn2rB.png" width="64"></a>
		</td>
		<td>
			<a data-content="16q3jpwpPJHehG48YTp3tB6s7bQ1gqd2zd" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/16q3jpwpPJHehG48YTp3tB6s7bQ1gqd2zd.png" width="64"></a>
		</td>
		<td>
			<a data-content="1E1Xa9FyQRFUAgL1vYcfHukByMc2jY6dwD" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2009.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1E1Xa9FyQRFUAgL1vYcfHukByMc2jY6dwD.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 0:00</td>
	</tr>
</table>