{{set . "btc1FcznbMy1j9odtof7gSmKCDRMwctYnZbbK" "0.002"}}
{{set . "btc19X5y6F4dCqrwSaSGwVj1a4a2zgFLga4MS" "0.000"}}
{{set . "btc1BBCBGY1zP1andfB3CDqBKResAk51r4RLe" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7641/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1016.png">							
				<br> <b>瑞士</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>							
					<span class="badge">2:1</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7593/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1017.png">							
				<br> <b>厄瓜多尔</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1FcznbMy1j9odtof7gSmKCDRMwctYnZbbK">
				<img src="http://1.su.bdimg.com/worldcup/2016.png">胜 {{.btc1FcznbMy1j9odtof7gSmKCDRMwctYnZbbK}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/19X5y6F4dCqrwSaSGwVj1a4a2zgFLga4MS">平 {{.btc19X5y6F4dCqrwSaSGwVj1a4a2zgFLga4MS}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1BBCBGY1zP1andfB3CDqBKResAk51r4RLe">
				<img src="http://2.su.bdimg.com/worldcup/2017.png">胜 {{.btc1BBCBGY1zP1andfB3CDqBKResAk51r4RLe}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1FcznbMy1j9odtof7gSmKCDRMwctYnZbbK" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2016.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1FcznbMy1j9odtof7gSmKCDRMwctYnZbbK.png" width="64"></a>
		</td>
		<td>
			<a data-content="19X5y6F4dCqrwSaSGwVj1a4a2zgFLga4MS" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/19X5y6F4dCqrwSaSGwVj1a4a2zgFLga4MS.png" width="64"></a>
		</td>
		<td>
			<a data-content="1BBCBGY1zP1andfB3CDqBKResAk51r4RLe" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2017.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1BBCBGY1zP1andfB3CDqBKResAk51r4RLe.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 0:00</td>
	</tr>
</table>