{{set . "btc13ax3cHLMt93cdWb1QAdbgxSyyviAQNT9n" "0.000"}}
{{set . "btc1LvEGXdai87cDViqtVMwQnF8QbKN8moqLF" "0.000"}}
{{set . "btc18X1YyACdJeTUu8tUhseM9YnudLJFznpHD" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7626/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1018.png">
				<br> <b>法国</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>
					<span class="badge">3:0</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7581/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1019.png">
				<br> <b>洪都拉斯</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/13ax3cHLMt93cdWb1QAdbgxSyyviAQNT9n">
				<img src="http://1.su.bdimg.com/worldcup/2018.png">胜 {{.btc13ax3cHLMt93cdWb1QAdbgxSyyviAQNT9n}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1LvEGXdai87cDViqtVMwQnF8QbKN8moqLF">平 {{.btc1LvEGXdai87cDViqtVMwQnF8QbKN8moqLF}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/18X1YyACdJeTUu8tUhseM9YnudLJFznpHD">
				<img src="http://2.su.bdimg.com/worldcup/2019.png">胜 {{.btc18X1YyACdJeTUu8tUhseM9YnudLJFznpHD}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="13ax3cHLMt93cdWb1QAdbgxSyyviAQNT9n" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2018.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/13ax3cHLMt93cdWb1QAdbgxSyyviAQNT9n.png" width="64"></a>
		</td>
		<td>
			<a data-content="1LvEGXdai87cDViqtVMwQnF8QbKN8moqLF" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1LvEGXdai87cDViqtVMwQnF8QbKN8moqLF.png" width="64"></a>
		</td>
		<td>
			<a data-content="18X1YyACdJeTUu8tUhseM9YnudLJFznpHD" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2019.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/18X1YyACdJeTUu8tUhseM9YnudLJFznpHD.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 3:00</td>
	</tr>
</table>