{{set . "btc12GEXYvXwRqkM4a5oceWMKt3PLrbirCwy6" "0.000"}}
{{set . "btc133A7dxRkVqcqcxWoBH2nQ1uTqhUQ3gzSA" "0.000"}}
{{set . "btc1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a href="http://worldcup.2014.163.com/team/7587/?bdsc" target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1020.png">							
				<br>							
				<b>阿根廷</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>							
					<span class="badge">2:1</span>
				</h3>
			</div>
		</td>
		<td>
			<a href="http://worldcup.2014.163.com/team/7661/?bdsc" target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1021.png">							
				<br>							
				<b>波黑</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/12GEXYvXwRqkM4a5oceWMKt3PLrbirCwy6">
				<img src="http://1.su.bdimg.com/worldcup/2020.png">胜 {{.btc12GEXYvXwRqkM4a5oceWMKt3PLrbirCwy6}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/133A7dxRkVqcqcxWoBH2nQ1uTqhUQ3gzSA">平 {{.btc133A7dxRkVqcqcxWoBH2nQ1uTqhUQ3gzSA}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj">
				<img src="http://2.su.bdimg.com/worldcup/2021.png">胜 {{.btc1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="12GEXYvXwRqkM4a5oceWMKt3PLrbirCwy6" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2020.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/12GEXYvXwRqkM4a5oceWMKt3PLrbirCwy6.png" width="64"></a>
		</td>
		<td>
			<a data-content="133A7dxRkVqcqcxWoBH2nQ1uTqhUQ3gzSA" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/133A7dxRkVqcqcxWoBH2nQ1uTqhUQ3gzSA.png" width="64"></a>
		</td>
		<td>
			<a data-content="1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2021.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1GYWs17LQXm86652RSgJZrUVkLzHCC2FZj.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 6:00</td>
	</tr>
</table>