{{set . "btc1PuUh8L9ciDg8z5barjQQg5svTdEQ12we1" "0.000"}}
{{set . "btc1NC5tjQiePN1deDVXa8v28347ZW2knRgTh" "0.000"}}
{{set . "btc1PgGn2vSvfHKgwwvdyNGphrUW4b4cke8vu" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1026.png">							
				<br>							
				<b>加纳</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>							
					<span class="badge">1:2</span>
				</h3>
			</div>
		</td>
		<td>
			<a target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1027.png">							
				<br>							
				<b>美国</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1PuUh8L9ciDg8z5barjQQg5svTdEQ12we1">
				<img src="http://1.su.bdimg.com/worldcup/2026.png">胜 {{.btc1PuUh8L9ciDg8z5barjQQg5svTdEQ12we1}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1NC5tjQiePN1deDVXa8v28347ZW2knRgTh">平 {{.btc1NC5tjQiePN1deDVXa8v28347ZW2knRgTh}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1PgGn2vSvfHKgwwvdyNGphrUW4b4cke8vu">
				<img src="http://2.su.bdimg.com/worldcup/2027.png">胜 {{.btc1PgGn2vSvfHKgwwvdyNGphrUW4b4cke8vu}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1PuUh8L9ciDg8z5barjQQg5svTdEQ12we1" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2026.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1PuUh8L9ciDg8z5barjQQg5svTdEQ12we1.png" width="64"></a>
		</td>
		<td>
			<a data-content="1NC5tjQiePN1deDVXa8v28347ZW2knRgTh" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1NC5tjQiePN1deDVXa8v28347ZW2knRgTh.png" width="64"></a>
		</td>
		<td>
			<a data-content="1PgGn2vSvfHKgwwvdyNGphrUW4b4cke8vu" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2027.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1PgGn2vSvfHKgwwvdyNGphrUW4b4cke8vu.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 6:00</td>
	</tr>
</table>