{{set . "btc1G1c5QZMCsNbGYwR8F8GwLJ9M3oaPqqD4t" "0.000"}}
{{set . "btc1KUYgRRmMTXbGn4LUPE4wn7yxMADWKycG8" "0.000"}}
{{set . "btc16mQp1NQhXbh5nvJNSM32gRH4szvRdCs5B" "0.000"}}
<table class="sjb-games">
	<tr>
		<td>
			<a target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1024.png">							
				<br>							
				<b>伊朗</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>							
					<span class="badge">0:0</span>
				</h3>
			</div>
		</td>
		<td>
			<a target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1025.png">							
				<br>							
				<b>尼日利亚</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1G1c5QZMCsNbGYwR8F8GwLJ9M3oaPqqD4t">
				<img src="http://1.su.bdimg.com/worldcup/2024.png">胜 {{.btc1G1c5QZMCsNbGYwR8F8GwLJ9M3oaPqqD4t}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1KUYgRRmMTXbGn4LUPE4wn7yxMADWKycG8">平 {{.btc1KUYgRRmMTXbGn4LUPE4wn7yxMADWKycG8}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/16mQp1NQhXbh5nvJNSM32gRH4szvRdCs5B">
				<img src="http://2.su.bdimg.com/worldcup/2025.png">胜 {{.btc16mQp1NQhXbh5nvJNSM32gRH4szvRdCs5B}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1G1c5QZMCsNbGYwR8F8GwLJ9M3oaPqqD4t" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2024.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1G1c5QZMCsNbGYwR8F8GwLJ9M3oaPqqD4t.png" width="64"></a>
		</td>
		<td>
			<a data-content="1KUYgRRmMTXbGn4LUPE4wn7yxMADWKycG8" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1KUYgRRmMTXbGn4LUPE4wn7yxMADWKycG8.png" width="64"></a>
		</td>
		<td>
			<a data-content="16mQp1NQhXbh5nvJNSM32gRH4szvRdCs5B" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2025.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/16mQp1NQhXbh5nvJNSM32gRH4szvRdCs5B.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 3:00</td>
	</tr>
</table>