<table class="sjb-games">
	<tr>
		<td>
			<a target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1010.png">							
				<br>							
				<b>乌拉圭</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>							
					<span class="badge">2:1</span>
				</h3>
			</div>
		</td>
		<td>
			<a target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1012.png">							
				<br>							
				<b>英格兰</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1HF32d4LYQ3kfxT4YxgZdmSJEi4RVdkQmR">
				<img src="http://1.su.bdimg.com/worldcup/2010.png">胜 0.000 ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1ELo6nFneaRGxbJ18hoEU6sGfkTwa6styU">平 0.000 ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1BP8oszrJfARH1RPHUixxEUZBCbCSzwwzi">
				<img src="http://2.su.bdimg.com/worldcup/2012.png">胜 0.000 ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>竞猜结束</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="1HF32d4LYQ3kfxT4YxgZdmSJEi4RVdkQmR" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2010.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1HF32d4LYQ3kfxT4YxgZdmSJEi4RVdkQmR.png" width="64"></a>
		</td>
		<td>
			<a data-content="1ELo6nFneaRGxbJ18hoEU6sGfkTwa6styU" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1ELo6nFneaRGxbJ18hoEU6sGfkTwa6styU.png" width="64"></a>
		</td>
		<td>
			<a data-content="1BP8oszrJfARH1RPHUixxEUZBCbCSzwwzi" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2012.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1BP8oszrJfARH1RPHUixxEUZBCbCSzwwzi.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 3:00</td>
	</tr>
</table>