<table class="sjb-games">
	<tr>
		<td>
			<a target="_blank">
				<img src="http://1.su.bdimg.com/worldcup/1019.png">							
				<br>							
				<b>洪都拉斯</b>
			</a>
		</td>
		<td>
			<div>
				<h3 class="red">
					VS
					<br>							
					<span class="badge">0:0</span>
				</h3>
			</div>
		</td>
		<td>
			<a target="_blank">
				<img src="http://2.su.bdimg.com/worldcup/1017.png">							
				<br>							
				<b>厄瓜多尔</b>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a target="_blank" href="https://blockchain.info/address/18kynLrvJL2TWmY9Kg2uFGyPqynQ4XxNLB">
				<img src="http://1.su.bdimg.com/worldcup/2019.png">胜 {{.btc18kynLrvJL2TWmY9Kg2uFGyPqynQ4XxNLB}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1GusspS5NJ4o63cT86JgeyHK9VMjruxERb">平 {{.btc1GusspS5NJ4o63cT86JgeyHK9VMjruxERb}} ฿</a>
		</td>
		<td>
			<a target="_blank" href="https://blockchain.info/address/1pCuehkwBsp99hA9jVU2CBxrHHHVAouj2">
				<img src="http://2.su.bdimg.com/worldcup/2017.png">胜 {{.btc1pCuehkwBsp99hA9jVU2CBxrHHHVAouj2}} ฿</a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<h2>投币竞猜</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a data-content="18kynLrvJL2TWmY9Kg2uFGyPqynQ4XxNLB" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2019.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/18kynLrvJL2TWmY9Kg2uFGyPqynQ4XxNLB.png" width="64"></a>
		</td>
		<td>
			<a data-content="1GusspS5NJ4o63cT86JgeyHK9VMjruxERb" data-original-title="平" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1GusspS5NJ4o63cT86JgeyHK9VMjruxERb.png" width="64"></a>
		</td>
		<td>
			<a data-content="1pCuehkwBsp99hA9jVU2CBxrHHHVAouj2" data-original-title="<img src='http://1.su.bdimg.com/worldcup/2017.png'>" data-placement="top" class="bitcoin-address">
				<img class="img-thumbnail" src="/public/qr/1pCuehkwBsp99hA9jVU2CBxrHHHVAouj2.png" width="64"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="endTime">竞猜截止时间 6:00</td>
	</tr>
</table>