<div class="bs-header">
	<div class="container">
		<h1>欢乐世界杯</h1>
		<p>使用“比特币”竞猜世界杯,让2014的巴西世界杯更加欢乐！投注简单快捷、信息公开透明、中奖金额源地址返回！</p>
		<div id="carbonads-container">
			<div class="carbonad">
				<table>
					<tr>
						<td><img src="/public/help/wcup.jpg" height="90" width="135"></td>
						<td style="vertical-align:top;padding-left:10px;color:#ffffff;line-height:1.4"><span>&nbsp;&nbsp;&nbsp;&nbsp;所有流程自动完成且100%透明，请放心使用!<br>关注<a href="http://weibo.com/tebibao" target="_blank">@特币宝</a>领取0.001个比特币!
						<br><a href="/help#How-to-pay-the-quiz">进入帮助页面</a></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>