<link rel="stylesheet" type="text/css" href="/public/docs-assets/css/messageinfo.css" />
<div class="messageinfo">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span class="titleBody">
					<span class="titleIcon bgOne"></span>
					<span class="titleWord">最新动态</span>
				</span>
				<div class="clearfix"></div>
				<ul>
					<li>
						<a href="">关于OKCoin将停止微博登录的说明</a>
					</li>
					<li>
						<a href="">关于有人冒充OKCoin官方客服发诈骗邮件的</a>
					</li>
					<li>
						<a href="">OKCoin手机交易客户端（Android、iphon..</a>
					</li>
					<li>
						<a href="">OK不炒冷饭，独家推出“交易神器”..</a>
					</li>
					<li>
						<a href="">OKCoin iphone 交易客户端v1.4.0 更新..</a>
					</li>
					<li>
						<a href="">OK不炒冷饭，独家推出“交易神器”..</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<span class="titleBody">
					<span class="titleIcon bgTwo"></span>
					<span class="titleWord">媒体报道</span>
				</span>
				<div class="clearfix"></div>
				<ul>
					<li>
						<a href="">关于OKCoin将停止微博登录的说明</a>
					</li>
					<li>
						<a href="">关于有人冒充OKCoin官方客服发诈骗邮件的</a>
					</li>
					<li>
						<a href="">OKCoin手机交易客户端（Android、iphon..</a>
					</li>
					<li>
						<a href="">OK不炒冷饭，独家推出“交易神器”..</a>
					</li>
					<li>
						<a href="">OKCoin iphone 交易客户端v1.4.0 更新..</a>
					</li>
					<li>
						<a href="">OK不炒冷饭，独家推出“交易神器”..</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<span class="titleBody">
					<span class="titleIcon bgThree"></span>
					<span class="titleWord">联系我们</span>
				</span>
				<div class="clearfix"></div>
				<ul>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>