.messageinfo {
  height: 250px;
  background: #F0F2F2;
  margin-top: 20px;
}
.messageinfo a {
  color: #434A54;
}
.messageinfo a:hover {
  color: #ff7f00;
}
.messageinfo ul {
  line-height: 26px;
}
.messageinfo .titleBody {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}
.messageinfo .titleBody .titleIcon {
  width: 46px;
  height: 47px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  float: left;
}
.messageinfo .titleBody .bgOne {
  background: url("../images/connectus.png") no-repeat scroll 0px -311px rgba(0, 0, 0, 0);
}
.messageinfo .titleBody .bgTwo {
  background: url("../images/connectus.png") no-repeat scroll 0px -380px rgba(0, 0, 0, 0);
}
.messageinfo .titleBody .bgThree {
  background: url("../images/connectus.png") no-repeat scroll 0px -446px rgba(0, 0, 0, 0);
}
.messageinfo .titleBody .titleWord {
  float: left;
  font-size: 28px;
  margin-left: 20px;
  display: inline-block;
  height: 47px;
  line-height: 47px;
  color: #434a54;
}
